:root {
  --primary: #10405a;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "ubuntu", sans-serif;
  background-color: var(--bg);
  /* color: #fff; */
  background-image: url("/img/bg.png");
  background-size: cover; /* Untuk menutupi seluruh area elemen body */
  background-position: center; /* Untuk mengatur posisi gambar ke tengah */
  background-repeat: no-repeat; /* Untuk mencegah pengulangan gambar */
}

/* Navbar */
.navbar {
  justify-content: space-between;
  padding: 1.4rem 7%;
  align-items: center;
  display: flex;
  justify-content: center; /* align horizontal */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 7%; /* Mengurangi padding atas dan bawah */
  z-index: 9999;
}

.navbar.scrolled {
  background-color: #fff; /* Mengubah warna latar belakang menjadi putih */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Menambahkan box shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animasi transisi */
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-weight: bold;
}

.navbar .navbar-logo img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.navbar a img.logo {
  width: 43px;
  margin-right: 10px;
}

.navbar a span {
  font-weight: bold;
}
.navbar .navbar-nav {
  margin: 0 auto;
}

.navbar-nav a {
  margin-right: 10px;
  color: var(--primary);
}

.navbar .navbar-nav a:hover {
  color: #05afaa;
}

.navbar .navbar-extra {
  margin-left: auto;
}

#hamburger-menu {
  display: none;
}

/* Main(content) */
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 104px;
}

.col {
  /* background-color: #f1f1f1; */
  width: 40%;
  margin: 45px;
  /* border: solid 1px; */
  /* line-height: 75px; */
}

.container .col .title {
  font-size: 96px;
  color: var(--primary);
}

.container .col .text {
  font-size: 24px;
  color: var(--primary);
}

.container .col img {
  max-width: 100%;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1100px) {
  html {
    font-size: 85%;
  }

  /* main */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 80%; /* Mengubah lebar kolom */
    margin: 20px 0; /* Mengurangi margin atas dan bawah */
    text-align: center; /* Mengatur teks menjadi rata tengah */
  }

  .container .col .title {
    font-size: 58px; /* Mengurangi ukuran font judul */
  }

  .container .col .text {
    font-size: 28px; /* Mengurangi ukuran font teks */
  }

  .container .col img {
    width: 100%; /* Mengubah lebar gambar menjadi penuh */
    height: auto; /* Mengatur ketinggian gambar agar proporsional */
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  /* .navbar {
    justify-content: flex-start;
  } */

  .navbar-logo {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-weight: bold;
    text-align: left; /* Menjadikan teks pada .navbar-logo menjadi kiri */
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f4cd0c;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #4a748b;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: small;
  }

  #hamburger-menu {
    display: inline-block;
    color: var(--primary);
  }

  #hamburger-menu:hover {
    color: #05afaa;
  }

  /* main */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 80%; /* Mengubah lebar kolom */
    margin: 20px 0; /* Mengurangi margin atas dan bawah */
    text-align: center; /* Mengatur teks menjadi rata tengah */
  }

  .container .col .title {
    font-size: 48px; /* Mengurangi ukuran font judul */
  }

  .container .col .text {
    font-size: 18px; /* Mengurangi ukuran font teks */
  }

  .container .col img {
    width: 100%; /* Mengubah lebar gambar menjadi penuh */
    height: auto; /* Mengatur ketinggian gambar agar proporsional */
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
