:root {
  --primary: #10405a;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* border: none; */
  text-decoration: none;
}

body {
  font-family: "ubuntu", sans-serif;
  background-color: var(--bg);
  /* color: #fff; */
  background-image: url("/img/bg.png");
  background-size: cover; /* Untuk menutupi seluruh area elemen body */
  background-position: center; /* Untuk mengatur posisi gambar ke tengah */
  background-repeat: no-repeat; /* Untuk mencegah pengulangan gambar */
}

/* Navbar */
.navbar {
  justify-content: space-between;
  padding: 1.4rem 7%;
  align-items: center;
  display: flex;
  justify-content: center; /* align horizontal */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 7%; /* Mengurangi padding atas dan bawah */
  z-index: 9999;
  background-color: transparent; /* Transparan pada awalnya */
  transition: background-color 0.3s ease, padding 0.3s ease; /* Transisi warna latar belakang dan padding */
}

.navbar.scrolled {
  background-color: #fff; /* Mengubah warna latar belakang menjadi putih */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Menambahkan box shadow */
  padding: 0.4rem 7%; /* Mengurangi padding atas dan bawah ketika di-scroll */
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-weight: bold;
  font-size: small;
}

.navbar .navbar-logo img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.navbar a img.logo {
  width: 43px;
  margin-right: 10px;
}

.navbar a span {
  font-weight: bold;
}
.navbar .navbar-nav {
  margin: 0 auto;
}

.navbar-nav a {
  margin-right: 10px;
  color: var(--primary);
}

.navbar .navbar-nav a:hover {
  color: #05afaa;
}

.navbar .navbar-extra {
  margin-left: auto;
}

#hamburger-menu {
  display: none;
}

/* Main(content) */
.container {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 40px;
  margin-top: 104px;
}

.col {
  /* background-color: #f1f1f1; */
  width: 40%;
  margin: 55px;
  /* border: solid 1px; */
  /* line-height: 75px; */
}

.container .col .title {
  font-size: 90px;
  color: var(--primary);
}

.container .col .text {
  font-size: 25px;
  color: var(--primary);
}

.container .col img {
  max-width: 100%;
}

/* Grid */

/* filter buttons */
.filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* Menengahkan secara horizontal */
  margin-bottom: 20px;
  margin-top: 20px; /* Menambah jarak dari atas */
}

.filter-buttons button {
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
  border: solid 1px var(--primary);
  color: #10405a;
  background-color: white;
  padding: 5px;
}

.filter-buttons button.active {
  background-color: #05afaa;
  color: white;
}

.filter-buttons button:hover {
  background-color: #05afaa;
  color: white;
}

/* item */
.items-container {
  display: flex;
  flex-wrap: wrap; /* Menyusun elemen dalam beberapa baris */
  justify-content: center; /* Menengahkan elemen secara horizontal */
}

.item {
  margin: 10px;
  width: calc(30% - 20px);
  /* background-color: lightgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  position: relative; /* Menambahkan posisi relatif untuk menempatkan teks */
}

.item img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50px;
  transition: filter 0.3s ease; /* Menambahkan transisi untuk efek blur */
}

.item:hover img {
  filter: blur(3px); /* Menambahkan efek blur saat hover */
}

.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Ubah warna latar belakang dan atur transparansi */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Animasi opacity saat hover */
}

.item:hover .overlay {
  opacity: 1;
}

.item .overlay span {
  color: #000; /* Warna teks hitam */
  font-size: 50px; /* Ukuran teks */
  font-weight: bold; /* Ketebalan teks */
  text-align: center; /* Pusatkan teks */
}

.item:hover {
  cursor: pointer; /* Menambahkan kursor pointer saat hover */
}

.item a {
  position: relative; /* Memberi posisi relatif untuk mengatur z-index overlay */
  display: block; /* Membuat link menjadi elemen block agar menutupi gambar dan overlay */
  text-decoration: none; /* Menghilangkan garis bawah pada link */
  color: inherit; /* Mewarisi warna teks dari parent */
}

/* Media Queries */
/* Laptop */
@media (max-width: 1141px) {
  html {
    font-size: 85%;
  }

  .navbar-nav a {
    border: solid 0.5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative; /* Atau relative */
    /* Atur koordinat x dan y sesuai kebutuhan */
  }

  .navbar-nav a:hover {
    color: #05afaa;
  }

  /* main */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 80%; /* Mengubah lebar kolom */
    margin: 20px 0; /* Mengurangi margin atas dan bawah */
    text-align: center; /* Mengatur teks menjadi rata tengah */
  }

  .container .col .title {
    font-size: 58px; /* Mengurangi ukuran font judul */
    text-align: left;
  }

  .container .col .text {
    font-size: 32px; /* Mengurangi ukuran font teks */
    text-align: left;
  }

  .container .col img {
    width: 100%; /* Mengubah lebar gambar menjadi penuh */
    height: auto; /* Mengatur ketinggian gambar agar proporsional */
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  /* .navbar {
    justify-content: flex-start;
  } */

  .navbar-logo {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-weight: bold;
    text-align: left; /* Menjadikan teks pada .navbar-logo menjadi kiri */
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f4cd0c;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #4a748b;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: small;
  }

  #hamburger-menu {
    display: inline-block;
    color: var(--primary);
  }

  #hamburger-menu:hover {
    color: #05afaa;
  }

  /* main */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 80%; /* Mengubah lebar kolom */
    margin: 20px 0; /* Mengurangi margin atas dan bawah */
    text-align: center; /* Mengatur teks menjadi rata tengah */
  }

  .container .col .title {
    font-size: 48px; /* Mengurangi ukuran font judul */
  }

  .container .col .text {
    font-size: 18px; /* Mengurangi ukuran font teks */
  }

  .container .col img {
    width: 100%; /* Mengubah lebar gambar menjadi penuh */
    height: auto; /* Mengatur ketinggian gambar agar proporsional */
  }

  /* grid */
  .items-container {
    flex-direction: column;
    align-items: center;
  }

  .items-container .item {
    width: 80%;
    height: 200px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
